.boldText{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.imageStyle{
    width: fit-content;
    height: 4em;
    margin-left: 6em;
}
.ourservices{
     width: 18rem;
     padding: 1em;
     height: 12rem 
}

@media only screen and (max-width: 680px) {
    .ourservices{
        width: auto;
    }
    .imageStyle{
        width: fit-content;
        height: 4em;
        margin-left: 8em;
    }
    .mobileStyle{
        margin-top: 1em;
    }
    .paidTextStyle{
        margin-right: 1em;
    }
}


