.boldText1{
    font-weight: 800;
    letter-spacing: 2px;
    /* font-size: xx-large; */
    font-family:"Orbitron", Sans-serif;
    font-style: italic;
}
.boldText{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.iconStyle{
    width: fit-content;
    height: 4em;
    margin-left: 1em;
}
.gradText{
    background-image: linear-gradient(#FFB621, #F57373);
   
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  display: inline-block;
  width: 7em;
}
#seoText{
    position: absolute;
    margin-right: 6em;
    margin-top: 1em;
}
.seoTitle{
    position: absolute;
    margin-top: 1em;
}
.cardDesign{
     width: 18rem;
     padding: 1em;
     height: 12rem ;
     position: relative;
     z-index: -1;
     border-radius: 1em;
     box-shadow: 0 4px 8px 0 rgba(53, 53, 53, 0.1), 0 6px 20px 0 rgba(54, 54, 54, 0.1);
}
.Container{
    max-width: 70rem;
}
.normalText{
    font-weight: 400;
}
#rowTopCard{
    margin-top: 1.5em;
}
.textContainer{
    padding-left: 0em;
    padding-top: 1em;
    text-align: initial;
}

.textSeoContainer{
    padding-left: 0.5em;
    margin-top: 1em;
    text-align: initial;
}

.textPaidContainer{
    padding-left: 0em;
    text-align: initial;
    margin-top: 1em;
}

.textEmailContainer{
    padding-left: 0em;
    text-align: initial;
    margin-top: 1em;
}

.cardContainerTablet{
    margin-top: 3em;
}

@media only screen and (max-width: 680px) {
    .cardDesign{
        width: auto;
    }
    .iconStyle{
        width: fit-content;
        height: 4em;
        margin-left: 9em;
    }
    .mobileStyle{
        margin-top: 1.3em;
    }
    .paidTextStyle{
        margin-right: 1em;
        margin-top: 1em;
    }
    .textContainer{
        text-align: center;
    }
    .textEmailContainer{
        text-align: center;
    }
    .textSeoContainer{
        text-align: center;
    }
    .textPaidContainer{
        text-align: center;
        margin-right: 0em;
    }
    .boldText1{
        margin-top: 1em;
    }
    /* #rowLeft{
        margin-left: 0.5em;
    } */
   
}

@media only screen and (min-width: 768px){
   #em{
    margin-top: 1em;
   }
   #rowLeft{
    margin-top: auto;
    margin-left: 2em;
   }
   #EM{
    margin-top: 1.2em;
   }
}

@media only screen and (min-width: 1024px){
    #em{
     margin-top: 0em;
    }
    #rowLeft{
        margin-left: 0em;
    }
    .mobileStyle{
        margin-top: 0em;
    }
    #EM{
        margin-top: 0em;
    }
 }


