/* .rowStyle{
    margin-top: 5%;
} */
.tableLeftStyle{
    margin-left: 5%;
}
.modalTextStyle{
    margin-left: 44%;
}
.imageStyle{
    margin-top: 0%;
}
.imageResStyle{

    width: 100%;
}
.rowStyle{
    margin-top: 11em;
}
.Footer{
    background-image: linear-gradient(rgb(9, 9, 73), black);
        padding: 5;
        margin-top: 2em;
}

@media only screen and (max-width: 600px) {
    .imageResStyle{
        width: 281%;
    }
  }

