/* .rowStyle{
    margin-top: 5%;
} */
.tableLeftStyle{
    margin-left: 5%;
}
.colStyle{
    background-color: darkblue;
    height: 8em;
}
.mobileCont{
    display: none;
}
.modalTextStyle{
    margin-left: 44%;
}
.textForm{
    padding-top: 8.5em;
}
.imageStyle{
    margin-top: 0%;
}

.quest{
    margin-left: 1.5em;
    padding-bottom: 0.5em;
}
.headerStyle{
    position: fixed;
    background-color: white;
}
.imageResStyle{

    width: 100%;
}
.rowStyle{
    margin-top: 1em;
}
.mainHeading{
    text-align: left;
    /* margin-left: 1em; */
    margin-top: 4em;
}
.Footer{
    background-image: linear-gradient(rgb(9, 9, 73), black);
        padding: 5;
        margin-top: 2em;
}

.aboutUs{
    margin-left: 2.4em;
    line-height: 2em;
    font-size: 1.1em;
    /* text-align: justify; */
}
.btnflat {
    background-color:rgba(255, 166, 0, 0.799);
    
      width: 10em;
      font-family: 'Poppins', sans-serif;
      margin-top: 1.6em;
      margin-left: 7em;
      border: none;
      padding: 1em;
      border-radius: 1em;
      transition: transform 0.2s ease-in-out;

  }

.btnflat:hover{
    transform: scale(1.1);
}

.alertBox{
    margin-top: 2em;
    margin-left: 2em;
    text-align: center;
    font-weight: bold;
    z-index: -1;
    font-size: larger;
}
.heading{
    
letter-spacing: 3px;
/* margin-left: 3em; */
z-index: -1;
    font-weight: 800;
    background: linear-gradient(#3a51d9,#0a0d1f);
    font-family: 'Poppins', sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}
.heading1{
    
letter-spacing: 3px;
font-family:'Poppins', sans-serif;
    font-weight: bolder;
    background: linear-gradient(rgb(7, 7, 80),rgb(172, 172, 255));
   z-index: -1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}
.marketingText{
        
    letter-spacing: 3px;
    font-family:'Poppins', sans-serif;
        font-weight: bolder;
        background: linear-gradient(rgb(7, 7, 80),rgb(113 113 168));
       z-index: -1;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.digi{
        
    letter-spacing: 3px;
    font-family:'Poppins', sans-serif;
        font-weight: bolder;
        background: linear-gradient(rgb(7, 7, 80),rgb(113 113 168));
       z-index: -1;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.mobile{
    display: none;
}
.heading2{
    
    letter-spacing: 3px;
    font-family:'Poppins', sans-serif;
        font-weight: bolder;
        background: linear-gradient(rgb(7, 7, 80),rgb(113 113 168));
       z-index: -1;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

        
    }
.formTop{
    margin-top: 4em;
}
.aboutUsAnother{
    margin-top: 0.2em;
}
.spanText{
    background-image: linear-gradient(#FFB621, #F57373);
    background-clip: 'text';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     color: 'transparent';
     font-family:'Poppins', sans-serif;
     font-weight: bolder;
}


@media only screen and (max-width: 600px) {
    .imageResStyle{
        display: none;
    }
    .rowStyle{
        margin-top: 8em;
        
    }
    .heading{
        margin-left: auto;
    }
    .quest{
        margin-left: auto;
        font-size: 1.2em;
    }
    .spanText{
        line-height: normal;
        display: block;
    }
    .alertBox{
        margin-left: auto;
        display: none;
    }
    .aboutUs{
        margin-left: auto;
        line-height: 2em;
    }
    
    .mainHeading{
        margin-top: 1em;
        display: flex;
        flex-direction: column-reverse;
    }
    .mobile{
        display: block;
        z-index: -1;
        width: 24em;
    }
    /* .heading2{
        display: flex;
    } */
    .formTop{
        margin-top: 0em;
    }
    .mobileCont{
        display: block;
    }
    .digi{
    
        letter-spacing: 3px;
        font-family:'Poppins', sans-serif;
            font-weight: bolder;
            background: linear-gradient(rgb(7, 7, 80),rgb(106 106 164));
           z-index: -1;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
            
        }
    .marketingText{
        letter-spacing: 3px;
        font-family:'Poppins', sans-serif;
            font-weight: bolder;
            background: linear-gradient(rgb(7, 7, 80),rgb(113 113 168));
           z-index: -1;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }
    .btnflat{
        margin-left: 0em;
    }
    
    #mobileStyle{
        display: flex;
        flex-direction: column-reverse;
    }
    .noMobile{
        display: none;
    }

  }

  @media only screen and (min-width: 768px){
    .imageResStyle{
        display: none;
    }
    .imageStyle{
        display: contents;
    }
    .heading{
        margin-left: auto;
       
    }
    .mainHeading{
        margin-top: 1em;
    }
    .spanText{
        line-height: normal;
    }
    .alertBox{
        margin-left: auto;
    }
    .quest{
        margin-left: auto;
    }
    .aboutUs{
        margin-left: auto;
    }
    .flexDirection{
        flex-direction: column;
    }
    .btnflat{
        margin-left: 1em;
    }
 }
 @media only screen and (min-width: 1024px){
    .imageResStyle{
        display: block;
    }
    .imageStyle{
        display: block;
    }
    .flexDirection{
        flex-direction: row;
    }
    .mainHeading{
        margin-top: 5em;
        padding-bottom: 1.7em;
    }  
    .btnflat{
        margin-left: 7em;
    } 

 }

 @media only screen and (max-width: 1400px){
    .mainHeading{
        margin-top: 1em;
        /* margin-bottom: 2em; */
    }
    .heading1{
        letter-spacing: normal;
        font-size: 2em;
    }
    .formTop{
        margin-top: -3em;
    }
    .alertBox{
        margin-top: 0em;
    }
    .aboutUs{
        line-height: 1.5em;
    }
    .quest{
        padding-bottom: 0.1em;
    }

 }
