*{
    padding: 0;
    margin: 0;
}
.brandTextStyle{
    font-weight: bold;
    /* color: white; */
}

/* .heading{
    margin-top: 5%;
    margin-right: 53%;
   
} */
/* .link{
    margin-left: 12em;
   

} */
.linkText{
    font-size: 20px;
    margin: 1em;
    font-weight: 700;
}
.linkServicesText{
    font-size: 20px;
    margin: 1em;
    font-weight: 700;
    text-decoration: none;
    color: grey;
    margin-top: 1.4em;
}
.linkText:hover{
    color: #F39C12;
}
.linkServicesText:hover{
    color: #F39C12;
}
.nav{
    position: fixed;
   top: 5%;
   width: 80%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 13px;
   padding: 13px;

  
}
.navFont{
    font-family: 'Poppins', sans-serif;
}

.image{
    width: 50%;
   
}

  .navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
  }
  

 
  .outer {
    background-color: #152053;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
  }
  
  .inner {
    height: 7em;
   
  }

  
  @media only screen and (max-width: 600px) {
    .nav{
        position: fixed;
       top: 6%;
       margin-left: 6%;
       width: 80%;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       border-radius: 13px;
       padding: 13px;
      
    }
  }

  
  @media only screen and (max-width: 768px) {
    .nav{
        position: fixed;
       top: 9%;
       margin-left: 6%;
       width: 80%;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       border-radius: 13px;
       padding: 13px;
      
    }
  }
  