.containerImage{
    width: 50%;
    height: 95%;
    fill: white;
}
.containerImage :hover{
  fill: gold;
}
.textColor{
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    text-align: initial;
    font-family: 'Poppins', sans-serif;
}
.textHeadingStyle{
  display: contents;
  color: white;
  padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Poppins', sans-serif;
  
}
.mailTextColor{
  display: contents;
  color: white;
  padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 2%;
    font-family: 'Poppins', sans-serif;
    
}

/* .articleStyle{
  padding-bottom: 1em;
} */

.footerContainerRow{
  padding: 3rem;
}
.contactStyle{
  display: contents;
}
.colStyleSrticle{
  padding: auto;
}

  @media only screen and (max-width: 680px) {
    .footerContainer{
        padding-right: 0px;
        
    }
    .mailLinkContainer{
      padding-bottom: 2em;
    }
    .branchStyle{
      /* display: table-caption; */
    }
    /* .articleStyle{
      display: block;
    } */
    .colStyle{
      display: contents;
    }
    .colStyleSrticle{
      display: contents;
    }
    .cont{
      display: contents;
    }
    .connectRow{
      margin-top: 0px;
      padding-top: 2em;
    }
    .links{
      text-align: initial;
    }
    
  }

  /* tablets */
 @media only screen and (min-width: 768px){
    .links{
      text-align: initial;
    }
    .footerContainerRow{
      padding: 4rem;
    }
    #link1{
      text-align: initial;
    }
    .colStyleArticle{
      text-align: initial;
    }
    

    
  }
  
  
