.containerImage{
    width: 50%;
    height: 95%;
    fill: white;
}
.containerImage :hover{
  fill: gold;
}
.textColor{
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    text-align: initial;
    font-family: 'Poppins', sans-serif;
}
.textHeadingStyle{
  display: contents;
  color: white;
  padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Poppins', sans-serif;
}
.mailTextColor{
  display: contents;
  color: white;
  padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 2%;
    font-family: 'Poppins', sans-serif;
}

.contactStyle{
  display: contents;
}
@media only screen and (max-width: 700px) {
    
    .contactStyle{
      width: 173%;
    }
  }

